* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 15vh;
    background: #edf5ea;
    overflow: hidden;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
    font-family: "Josefin Sans", sans-serif;
}

#logo {
    height: 90%;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
}

#menu-overlay.active {
    transform: scale(1);
}

#menu-overlay ul {
    position: relative;
}

#menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}

#menu-overlay ul li a {
    position: relative;
    text-decoration: none;
    font-size: 3.5rem;
    padding: 0 25px;
    color: #edf5ea;
    font-variant: small-caps;
    font-weight: 700;
    text-transform: none;
    display: inline-block;
    line-height: 200%;
}

#menu-overlay ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 8px;
    background: #669966;
    transform: translateY(-50%) scale(0);
    transform-origin: right;
    transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before {
    transform: translateY(-50%) scale(1);
    transform-origin: left;
    transition: 0.5s transform;
}

#toggleIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: white url(/open.png);
    z-index: 1;
    cursor: pointer;
    z-index: 2;
    border-radius: 10%;
}

#toggleIcon.active {
    background: white url(/close.png);
}


body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 10%;
}

.header img {
    width: 100%;
    height: auto;
}

.details {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    padding-bottom: 5%;
}

p {
    font-size: clamp(1rem, 3vw, 2rem);
    padding-bottom: 5%;
}

.swiper-holder {
    padding: 10vh 0 10vh 0;
}

.swiper-holder h2 {
    margin-left: 10%;
    padding-top: 5%;
}

.swiper-container {
    width: 100%;
    height: 50vh;
    padding-top: 7%;
    background: #669966;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: white;
    width: 350px;
    height: 350px;

}

.swiper-slide img {
    width: 80%;
    height: 75%;
    margin-left: 10%;
    margin-top: 3%;
}

.swiper-slide h3 {
    font-size: 2em;
    margin-left: 10%;
    font-variant: small-caps;
    padding-bottom: 2%;
}

.swiper-slide p {
    color: #669966;
    margin-left: 10%;
    font-weight: bold;
}

.swiper-pagination {
    color: white;
}

.contact-us-link {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
}

.fade {
    background: #669966;

    font-variant: small-caps;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 2rem;
    border: 3px solid #5b995b;
    padding: 14px 60px;
    overflow: hidden;
    transition: 1s ease;
}

.fade:hover {
    content: "";
    background: rgba(102, 153, 102, 40%);
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background: #edf5ea;
    padding-top: 1%;
}

footer p {
    font-weight: bold;
    font-size: 1.25rem;
}

footer ul li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 1.25rem;
}

footer ul li a {
    text-decoration: none;
    color: #7db569;
}